div.DetailSearchBar-container
  input(
    type="text"
    name="search"
    class="DetailSearchBar"
    placeholder="Search.."
  )

  img(
    src="images/search_icon.svg",
    class="DetailSearchBar-icon",
    width: 30px
  )