footer.Footer
  small.u-small Follow Us On
  br
  a(
    href="https://www.facebook.com/scripturallysnd/"
    target="_blank"
    class="Footer-link"
  )
    i(class="fa fa-facebook")

  a(
    href="https://twitter.com/scripturallysnd"
    target="_blank"
    class="Footer-link"
  )
    i(class="fa fa-twitter")

  a(
    href="https://www.instagram.com/scripturallysnd/"
    target="_blank"
    class="Footer-link"
  )
   i(class="fa fa-instagram")
                                   
include scripts.pug